name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  test-action:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-20.04", "ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    env:
      CODSPEED_SKIP_UPLOAD: true
    steps:
      - uses: actions/checkout@v3
      - name: Check basic action execution
        uses: ./
        with:
          run: echo "Working!"
      - name: Check action in a custom directory
        uses: ./
        with:
          working-directory: examples
          # Check that the directory is actually changed
          run: if [ $(basename $(pwd)) != "examples" ]; then exit 1; fi
      - name: Check action with multiline command
        uses: ./
        with:
          run: |
            echo "Working";
            echo "with";
            echo "multiple lines";
